Repository sql-machine-learning/sqlflow, pull requests merged in 2019-09, with the labels that each got.

#812 [SHAP]Control the size of analyze result(an image)
  sql/template_analyze.go
Labels: bug

#838 [Clustering Model] Fix template to support clustering model
  sql/codegen_test.go
  sql/executor_test.go
  sql/template_tf.go
Labels: feature

#886 Remove doc/build-tensorflow.md
  doc/build-tensorflow.md
Labels: doc

#887 Move all tutorials on running SQLFlow to doc/run
  doc/quick_start.md
  doc/run/debug_mode.md
  doc/run/docker.md
  doc/run/gcp.md
  doc/run/kubernetes.md
Labels: doc

#888 Unify tutorial names as doc/tutorial/<dataset>-<model>.md
  doc/tutorial/fraud-dnn.md
  doc/tutorial/housing-xgboost.md
  doc/tutorial/iris-dnn.md
  scripts/convert_markdown_into_ipynb.sh
Labels: doc

#891 Move talks from cmd/demo/ to doc/talk
  doc/talk/201812/automl.sql
  doc/talk/201812/pred.sql
  doc/talk/201812/preprocess.sql
  doc/talk/201812/regular.sql
  doc/talk/201812/sqlflow.slide
  doc/talk/201812/train.sql
  doc/talk/201905/automl.sql
  doc/talk/201905/feature_column.sql
  doc/talk/201905/parser.sql
  doc/talk/201905/pred.sql
  doc/talk/201905/preprocess.sql
  doc/talk/201905/regular.sql
  doc/talk/201905/sqlflow-overview.png
  doc/talk/201905/sqlflow.slide
  doc/talk/201905/train.sql
  doc/talk/201905/train_failed_on_verifer.sql
  doc/talk/201905/verifer.sql
  doc/talk/201906/column_all.png
  doc/talk/201906/column_fea1.png
  doc/talk/201906/column_fea2.png
  doc/talk/201906/column_label.png
  doc/talk/201906/feature_column_code.pysample
  doc/talk/201906/feature_column_cross.pysample
  doc/talk/201906/pred.sql
  doc/talk/201906/sqlflow.slide
  doc/talk/201906/train.sql
  doc/talk/201906/train_cross.sql
  doc/talk/201906/train_detailed.sql
  doc/talk/201906/train_simple.sql
  doc/talk/20190620/clone_sqlflow_models.bashsample
  doc/talk/20190620/custom_model.sql
  doc/talk/20190620/github-workflow.png
  doc/talk/20190620/sql-machine-learning-org.jpg
  doc/talk/20190620/sqlflow-community.png
  doc/talk/20190620/sqlflow-overview.png
  doc/talk/20190620/sqlflow.slide
  doc/talk/20190620/update_sqlflow_models.bashsample
Labels: doc

#868 Add run SQLFlow with hive server tutorial
  doc/run_with_hive.md
Labels: doc

#909 [DOC] Add a doc about how to connect Maxcompute with SQLFlow
  doc/run_with_maxcompute.md
Labels: doc
